@import './variable.less';

body {
  .ant-modal {
    .ant-modal-confirm-paragraph {
      .ant-modal-confirm-title {
        background: @bg;
        color: @color;
        transition: @transition;
      }
    }
    .ant-modal-content {
      background: @bg;
      color: @color;
      transition: @transition;
      .ant-modal-header {
        background: @bg;
        transition: @transition;

        color: @color;
        .ant-modal-title {
          color: @color;
          transition: @transition;

          text-align: center;
          user-select: none;
        }
      }
      .ant-modal-close-x {
        color: @color;
        transition: @transition;
      }
    }
    .ant-modal-confirm-btns,
    .ant-modal-footer {
      .ant-btn-default {
        color: @color !important;
        background-color: @bg !important;
        box-shadow: none;
        transition: @transition;
        border: none;
        &:hover {
          box-shadow:
            0 6px 16px 0 var(--current-border),
            0 3px 6px -4px var(--current-border),
            0 9px 28px 8px var(--current-border);
        }
      }
      .ant-btn-primary {
        color: @primaryColor !important;
        background-color: @bg !important;
        box-shadow: none;
        transition: @transition;

        &:hover {
          box-shadow:
            0 6px 16px 0 fade(@primaryColor, 20%),
            0 3px 6px -4px fade(@primaryColor, 20%),
            0 9px 28px 8px fade(@primaryColor, 20%);
        }
      }
    }
  }

  .ant-popover {
    .ant-popover-inner {
      background: @bg;
      color: @color;
    }
  }
  .ant-drawer {
    .ant-drawer-content-wrapper {
      .ant-drawer-content {
        background: @bg;
        color: @color;
        transition: @transition;

        .ant-drawer-header {
          border-bottom: none;

          &-title {
            text-align: center;
          }
        }

        .ant-drawer-body {
          .ant-form-item {
            color: @color;
            transition: @transition;

            label {
              color: @color;
              transition: @transition;
            }
          }
        }
      }
    }
  }
  .ant-dropdown {
    .ant-dropdown-menu {
      background: @bg;
      color: @color;
      .ant-dropdown-menu-item {
        color: @color;

        &:hover {
          background: fade(grey, 20%);
        }
      }
    }
  }
  .ant-select-dropdown {
    background: @bg;
    color: @color;
    // transition: @transition;
    .ant-select-item-option-active {
      background: var(--current-border) !important;
    }
    .ant-select-item-option-content {
      color: @color;
    }
    .ant-select-item-option-selected {
      background: @bg !important;
      .ant-select-item-option-content {
        color: @primaryColor !important;
      }
    }
  }
  .ant-tooltip {
    .ant-tooltip-content {
      .ant-tooltip-inner {
        background: @bg;
        transition: @transition;
        color: @color;
        padding: 8px 24px;
        user-select: none;
        box-shadow:
          0 6px 16px 0 var(--current-border),
          0 3px 6px -4px var(--current-border),
          0 9px 28px 8px var(--current-border);
      }
    }
  }
  .ant-divider {
    color: @color !important;

    &::after,
    &::before {
      border-color: @color !important ;
    }
  }
  .ant-pagination {
    .ant-pagination-total-text,
    .ant-pagination-prev,
    .ant-pagination-next {
      color: @color;
      transition: @transition;
      .ant-pagination-item-link {
        color: @color;
        transition: @transition;
      }
    }
    .ant-pagination-item {
      background: @bg;
      transition: @transition;
      color: @color;
      > a {
        color: @color;
        transition: @transition;
      }
    }
    .ant-pagination-item-active {
      color: @primaryColor;
    }
  }
  .ant-list-empty-text {
    color: var(--text-color1) !important;
  }
}
