@primaryColor: #39c5bb;
@auxiliaryColor1: #ff6d6d;
@auxiliaryColor2: #ffa500;

@successColor: #8ee5c6;

@warningColor: #ffa500;

@errorColor: #ff4b2c;
@auxiliaryErrorColor: #ff416b;

@textColor: #0a2222;
@textAuxiliaryColor1: #797979;

@bgColor: #eeeaf4;

@globalFontSize: 14px;
@globalFontFamily: 'zhuziAwan';
