@primaryColor: #39c5bb;
@auxiliaryColor1: #ff6d6d;
@auxiliaryColor2: #ffa500;

@successColor: #8ee5c6;

@warningColor: #ffa500;

@errorColor: #ff4b2c;
@auxiliaryErrorColor: #ff416b;

@globalFontSize: 14px;
@globalFontFamily: 'zhuziAwan';

@bg: var(--current-bg);
@color: var(--current-color);

@transition: all 0.3s ease-in-out;
