@import '../../styles/variable.less';

@color: var(--current-color);

.logo {
  user-select: none;
  cursor: pointer;

  &-bg {
    color: transparent;
    background: @primaryColor;
    background-clip: text;
    font-size: 24px;
    transition: all 0.3s ease-in-out;
  }

  .is-bg {
    background: @color;
    background-clip: text;
  }
}
