@color: var(--current-color);
@bg: var(--current-bg);

@headerHeight: 60px;

.container {
  position: relative;
  color: @color;
  background: @bg;
}

.header {
  height: @headerHeight;
}

.tool-bar {
  position: fixed;
}
